@font-face {
    font-family: "BonaNova-Italic";
    src: url("../fonts/BonaNova/BonaNova-Italic.eot");
    src: url("../fonts/BonaNova/BonaNova-Italic?#iefix") format("embedded-opentype"), url("../fonts/BonaNova/BonaNova-Italic.woff") format("woff"), url("../fonts/BonaNova/BonaNova-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
