extends layout/main

block content
    div.page
        include modules/header
        main.description 
            include modules/info
            include modules/about-us            
            include modules/client            
                include modules/client-screen
            //- script 
            //-     include ../js/client.js
        include modules/popup
    script(src="./js/main.js")