doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title z-studio-test
    
  body
    div.page
        header.header 
            a.header__logo(herf="#") 
            nav.header__navigation 
                a.header__link(href="#") Курсы
                a.header__link(href="#") Наймите выпускника
                a.header__link(href="#") Личный кабинет
        main.description 
            section.info 
                h1.info__title школа диджитал навыков от практикующих профессионалов
                div.info__wrapper
                    img.info__image(src="../images/info.png", alt="О школе за 72 секунды")
                    p.info__subtitle О школе за 72 секунды
            section.about-us 
        footer.footer 
            nav.footer__navigation 
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
                a.footer__link(href="#")
    //- h1 Pug - node template engine
    //- #container.col
    //-   if youAreUsingPug
    //-     p You are amazing
    //-   else
    //-     p You are amazing
    //-   p.
    //-     Pug is a terse and simple templating language with a
    //-     strong focus on performance and powerful features.