section.about-us 
    div.about-us__block
        img.about-us__image-teachers(src="../images/image-1.svg", alt="прогулка")
        div.about-us__wrapper
            p.about-us__subtitle-teachers Каждый преподаватель это либо специалист нашей студии, либо владелец бизнеса
            a.about-us__link(href="#") портфолио студии
    div.about-us__block 
        div.about-us__wrapper
            p.about-us__subtitle-guests Мы не приглашаем именитых гостей ради заголовков
            p.about-us__subtitle-guests У нас только практические знания для приобретения навыка
        img.about-us__image-guests(src="../images/image-2.svg", alt="ключ")