ul.client__list-mobile
    li.client__item-mobile
        img.client__item-image-mobile(src="../images/Логотип_телеканала_«ТНТ»_с_2020_года 1.svg", alt="ТНТ")
        img.client__item-image-mobile(src="../images/Toyota.svg", alt="Тойота")
    li.client__item
        img.client__item-image-mobile(src="../images/Vector.svg", alt="Кока-кола")
        img.client__item-image-mobile(src="../images/Baikal.svg", alt="Байкал")
    li.client__item
        img.client__item-image-mobile(src="../images/department.svg", alt="ДОиН г. Москвы")
        img.client__item-image-mobile(src="../images/BlackStar.svg", alt="Блэк Стар")
    li.client__item
        img.client__item-image-mobile(src="../images/Henkel.svg", alt="Хенкель")
        img.client__item-image-mobile(src="../images/Splat.svg", alt="Сплат")
        