- const icons = {tnt: '../images/ТНТ.svg', cocaCola: '../images/Vector.svg', Splat: '../images/Splat.svg', blackStar: '../images/BlackStar.svg', toyota: '../images/Toyota.svg', henkel: '../images/Henkel.svg', baikal: '../images/Baikal.svg', department: '../images/department.svg'}
- const iconsMobile = {0: {tnt: '../images/ТНТ.svg', toyota: '../images/Toyota.svg'}, 1: {cocaCola: '../images/Coca-Cola.svg', baikal: '../images/Baikal.svg'}, 2: {department: '../images/department.svg', blackStar: '../images/BlackStar.svg'}, 3: {henkel: '../images/Henkel.svg', splat: '../images/Splat.svg'}}
- screen = faulse;
//- script 
//-     include ../../js/client.js

ul.client__list 
    if (screen)
        each val, key in icons
            li.client__item
                div.client__item-block
                    img.client__item-image(src= val alt= key)
    else 
        each val in iconsMobile
            each val1, key in val
                li.client__item
                    img(class="client__item-image client__item-image_"+key src= val1 alt= key)
