header.header 
            a.header__logo(herf="#") 
            nav.header__navigation 
                a.header__link(href="#") Курсы
                a.header__link(href="#") Наймите выпускника
                a.header__link(href="#") Личный кабинет
