section.info 
    h1.info__title школа <br>диджитал навыков от <span class="info__title-italics">практикующих</span> профессионалов
    div.info__wrapper
        img.info__image(src="images/info.png", alt="О школе за 72 секунды")
        button.info__button
            div.info__button-play
            p.info__button-text О школе <span class="info__subtitle info__subtitle_boild">  за 72 секунды</span>