div.popup
    figure.popup__container
        button.popup__close-button
        iframe.popup__video(src="https://www.youtube.com/embed/XemDmsmnYII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)