.about-us {
    @include columnDirection();
    align-items: center;
    justify-content: center;
    font-family: $fontFamilyBook;
    width: 100%;
    max-width: 1920px;

    &__wrapper{
        @include columnDirection();
        align-items: flex-start;
        justify-content: flex-start;
        
    }

    &__block {
        @include rowDirection();

        &:last-of-type {
        position: relative;
        top: -83px
        }
    }

    &__image-teachers {
        position: relative;
        top: -83px;
        display: flex;
        max-width: 1107px;
        max-height: 886px;
        margin-right: 74px;
    }

    &__subtitle-teachers {
        @include aboutUsText();
        max-width: 720px;
        margin: 238px 117px 37px 0;
    }

    &__link {
        @include textOrange();
    }

    &__image-guests {
        position: relative;
        top: -67px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 997px;
        max-height: 798px;
    }

    &__subtitle-guests {
        @include aboutUsText();
        max-width: 654px;
        margin: 206px 83px 0 188px;
        padding: 0;
        
        &:last-of-type {
            margin-top: 0;
            padding-top: 60px;
        }
    }

}
