.about-us {
    @include columnDirection();
    align-items: center;
    justify-content: center;
    font-family: $fontFamilyBook;
    width: 100%;
    max-width: 1920px;

    &__block {
        @include rowDirection();
        align-items: flex-start;
        justify-content: flex-start;

        font-size: 48px;
        line-height: 124%;

        &:last-of-type {
        position: relative;
        top: -83px
        }
    }

    
    &__wrapper{
        @include columnDirection();
        align-items: flex-start;        
        justify-content: flex-start;
}

    &__image-teachers {
        position: relative;
        top: -83px;
        left: -98px;
        display: flex;
        width: 100%;
        max-width: 1107px;
        max-height: 886px;
    }

    &__subtitle-teachers {
        @include aboutUsText();
        position: relative;
        left: -98px;   
        width: 100%;
        max-width: 720px;
        margin: 238px 117px 47px 74px;
    }

    &__link {
        @include textOrange();
        position: relative;
        left: -98px;
        font-weight: 350;
        font-size: 32px;
        // margin-left: 74px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 0.05s, linear;
        }
    }

    &__image-guests {
        position: relative;
        top: -67px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 997px;
        max-height: 798px;
    }

    &__subtitle-guests {
        @include aboutUsText();
        max-width: 654px;
        margin: 206px 83px 0 188px;
        padding: 0;
        
        &:last-of-type {
            margin-top: 0;
            padding-top: 60px;
        }
    }
}


@media screen and (max-width: 1820px) {
    .about-us {
        &__block {
            font-size: 42px;
        }
        
        &__image-teachers {
                max-width: 1007px;
                max-height: 805px;
                margin-right: 64px;
        }
    
        &__subtitle-teachers {
            margin: 208px 97px 37px 74px;
        }
    
        &__image-guests {
            max-width: 897px;
            max-height: 717px;
        }
    
        &__subtitle-guests {
            margin: 166px 73px 0 168px;
        }    
    }
}

@media screen and (max-width: 1550px) {
    .about-us {

        &__block {
            font-size: 36px;
        }

        &__image-teachers {
            max-width: 850px;
            max-height: 681px;
            margin-right: 54px;
        }
    
        &__subtitle-teachers {
            max-width: 420px;
            margin: 178px 87px 20px 74px;
        }
    
        &__image-guests {
            max-width: 750px;
            max-height: 600px;        
        }
    
        &__subtitle-guests {
            margin: 146px 63px 0 148px;
        }
        
        &__link {
            font-size: 24px;
        }
    }       
}


@media screen and (max-width: 1450px) {
    .about-us {

        &__block {
            font-size: 32px;
        }

        &__image-teachers {
            max-width: 850px;
            max-height: 681px;
            margin-right: 54px;
            left: 0;
        }
    
        &__subtitle-teachers {
            left: 0;
            margin: 108px 77px 20px 0;
        }

        &__link {
            left: 0;
            margin-left: 0;
        }
    
        &__image-guests {
            max-width: 750px;
            max-height: 600px;        
        }
    
        &__subtitle-guests {
            margin: 126px 53px 0 148px;
        }    
    }       
}

@media screen and (max-width: 1310px) {
    .about-us {
        &__block {
            font-size: 32px;
        }

        &__image-teachers {
            max-width: 650px;
            max-height: 520px;
            margin-right: 44px;
        }
    
        &__subtitle-teachers {
            max-width: 420px;
            margin: 78px 57px 20px 74px;
        }
    
        &__image-guests {
            max-width: 550px;
            max-height: 440px;
            top: -47px;       
        }
    
        &__subtitle-guests {
            max-width: 420px;
            margin: 96px 63px 0 105px;

            &:last-of-type {
                padding-top: 30px;
            }
        }    
    }       
}

@media all and (max-width: 1220px) {
    .about-us {
        &__block {            
            font-size: 28px;
        }

        &__image-teachers {
            max-width: 500px;
            max-height: 406px;
            margin-right: 34px;
        }
    
        &__subtitle-teachers {
            margin: 68px 37px 15px 0;
        }
    
        &__image-guests {
            max-width: 420px;
            max-height: 336px;
            top: -40px;      
        }
    
        &__subtitle-guests {
            margin: 66px 30px 0 95px;

            &:last-of-type {
                padding-top: 20px;
            }
        }    
    }       
}

@media all and (max-width: 1020px) {
    .about-us {
        &__block {            
            font-size: 24px;
        }

        &__image-teachers {
            max-width: 440px;
            max-height: 336px;
            margin-right: 34px;
        }
    
        &__subtitle-teachers {
            max-width: 320px;
            margin: 28px 37px 15px 0;
        }
        
        &__link {
            margin: 0;
            font-size: 24px;
        }
    
        &__image-guests {
            max-width: 390px;
            max-height: 296px;
            top: -40px;      
        }
    
        &__subtitle-guests {
            max-width: 320px;
            margin: 36px 30px 0 95px;

            &:last-of-type {
                padding-top: 20px;
            }
        }    
    }       
}

@media all and (max-width: 890px) {
    .about-us {
        max-width: 375px;
    
        &__block {
            @include columnDirection();
            align-items: center;
            font-size: 28px;
    
            &:last-of-type {
            position: static;
            flex-direction: column-reverse;
            }
        }

        &__wrapper{
            align-items: center;
            justify-content: center;            
        }
    
        &__image-teachers {
            position: static;
            align-items: center;
            justify-content: center;
            max-width: 365px;
            max-height: 293px;
            margin-right: 0;
            margin-top: 120px;
        }
    
        &__subtitle-teachers {
            max-width: 280px;
            text-align: center;
            margin: 22px 0 22px 0;
            line-height: 100%;
            letter-spacing: 0;
        }

        &__link {
            font-size: 28px;
            line-height: 100%;
            letter-spacing: 0;
        }
    
        &__image-guests {
            position: static;
            justify-content: center;
            max-width: 322px;
            max-height: 258px;
            margin: 77px 0 20px 0;
        }
    
        &__subtitle-guests {
            max-width: 280px;
            margin: 0;
            text-align: center;
            line-height: 100%;
            letter-spacing: 0;
            
            &:last-of-type {
                padding-top: 0;
            }
        }    
    }    
}
