.client {
    @include columnDirection();
    align-items: center;
    justify-content: center;
    font-size: 48px;

    &__subtitle {
        @include aboutUsText();
        line-height: 124%;
        display: flex;
        text-align: center;
        align-items: center;
        max-width: 752px;
        font-family: $fontFamilyBook;
        margin: -24px 0 99px 0;
    }

    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        max-width: 1100px;
        margin: 0 0 200px 0;
        flex-wrap: wrap;
        padding-left: 40px;

        &_visible {
            display: flex;
        }
    }

    &__item-block {
        width: 230px;
        height: 133px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
    }

    &__list-mobile {
        display: none;
        flex-direction: column;
        list-style-type: none;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;

        &_visible {
            display: flex;
        }
    }
    
    &__item-mobile {
        @include rowDirection();
    }

    &__item-image-mobile {
        padding: 20px;
        max-height: 40px;
    }
}

@media screen and (max-width: 1720px) {
    .client {
        font-size: 42px;
    }
}

@media screen and (max-width: 1550px) {
    .client {
        font-size: 36px;
        
    &__subtitle {
        max-width: 540px;
        margin-bottom: 80px;
    }
    }
}

@media screen and (max-width: 1450px) {
    .client {
        font-size: 32px;
        
    &__subtitle {
        max-width: 480px;
    }
    }
}

@media screen and (max-width: 1200px) {
    .client {
        font-size: 28px;

        &__subtitle {
            margin: 0 0 59px 0;
            max-width: 360px;
        }

        &__list{
            justify-items: center;
            width: 100%;
            max-width: 550px;
        }

        &__item-block {
            margin: 15px;
        }
    }    
}

@media screen and (max-width: 1000px) {
    .client {
        font-size: 24px;
    }
}

@media all and (max-width: 870px) {
    .client {
        font-size: 28px;
    
        &__subtitle {
            max-width: 280px;
            margin: 127px 0 62px 0;
            line-height: 100%;
            letter-spacing: 0;
        }

        &__list {
            max-width: 320px;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__item {
            display: flex;
            margin: 20px;
            max-width: 120px;
            max-height: 55px;
            align-items: center;
            justify-content: center;
        }
    }
}