.header {
    @include rowDirection();
    width: 100%;
    max-width: 1571px;

    &__logo {
        width: 64px;
        height: 65px;
        background-image: url('../../images/tu\ 1.svg');
        margin-top: 59px;
    }

    &__navigation {
        @include rowDirection();
        margin-top: 66px;
    }

    &__link {
        text-decoration: none;
        color: $colorWigth;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 350;
        font-size: 24px;
        line-height: 50px;
        text-align: right;
        letter-spacing: -1.25573px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        padding-left: 50px;    
    }
}