.header {
    @include rowDirection();
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1571px;
    padding: 59px 0 55px 0;

    &__logo {
        width: 64px;
        height: 65px;
        background-image: url('../../images/tu\ 1.svg');
    }

    &__navigation {
        @include rowDirection();
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 726px;
    }

    &__link {
        text-decoration: none;
        color: $colorWigth;
        font-family: $fontFamilyReg;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 50px;
        text-align: right;
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        &:first-of-type {
            width: 134px;
        }
    }
}