.info {
    @include rowDirection();
    font-weight: 400;
    font-family: $fontFamilyBook;
    font-style: normal;

    &__title {
        display: block;
        justify-content: flex-start;
        align-items: center;
        margin: 200px 0 0 175px;
        width: 100%;
        max-width: 923px;
        font-weight: normal;
        font-size: 100px;
        line-height: 100%;
        color: $colorWigth;
    }

    &__title-italics {
        font-family: $fontFamilyIt;
        font-style: italic;
    }

    &__wrapper {
        @include columnDirection();
    }

    &__image {
        display: flex;
        width: 474px;
        height: 603px;
        margin: 116px 182px 42px 182px;

        &:hover {
            cursor: pointer;
        }
    }

    &__button {
        @include textOrange();
        font-size: 32px;
        font-weight: 350;      
        margin: 0 0 42px 0;
        background-color: inherit;
        border: none;

        &:focus{
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        &_boild {
            font-family: $fontFamilyMed;
            font-weight: bold; 
            margin: 0;
        }
    }
}

@media screen and (max-width: 1780px) {
    .info {    
        &__title { 
            font-size: 72px;
        }

        &__image {
            width: 434px;
            height: 552px;
        }
    
        &__button {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 1550px) {
    .info {    
        &__title {
            font-size: 58px;
            margin: 180px 0 0 175px;
        }
    
        &__image {
            width: 384px;
            height: 488px;
            margin: 96px 160px 42px 160px;
        }
    }
}

@media screen and (max-width: 1450px) {
    .info {    
        &__title {
            margin-left: 155px;
            font-size: 56px;
        }
    
        &__image {
            width: 384px;
            height: 488px;
        }
    
        &__button {
            @include textOrange();
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 1310px) {
    .info {    
        &__title {
            margin-left: 75px;
            font-size: 48px;
            margin: 160px 0 0 105px;
            letter-spacing: -1.26px;
        }
    
        &__image {
            width: 384px;
            height: 488px;
            margin: 76px 105px 32px 105px;
        }
    
        &__button {
            @include textOrange();
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1310px) {
    .info {    
        &__title {
            font-size: 48px;
            margin: 160px 0 75px 105px;
        }
    
        &__image {
            width: 384px;
            height: 488px;
            margin: 76px 105px 32px 105px;
        }
    
        &__button {
            @include textOrange();
            font-size: 24px;
        }
    }
}

@media all and (max-width: 1100px) {
    .info {    
        &__title {
            font-size: 36px;
            margin: 120px 0 55px 85px;
        }
    
        &__image {
            width: 339px;
            height: 395px;
            margin: 56px 85px 32px 85px;
        }
    
        &__button {
            @include textOrange();
            font-size: 24px;
        }
    }
}

@media all and (max-width: 870px) {
    .info {
        @include columnDirection();
        align-items: center;
    
        &__title {
            width: 100%;
            max-width: 320px;
            font-size: 36px;
            margin: 33.5px 0 0 0;
        }
    
        &__image {
            width: 275px;
            height: 342px;
            margin: 47px 0 26px 0;
        }
    
        &__button {
            font-size: 18px;   
            margin: 0;
        }
    }
}