$fontFamilyReg: 'ALS Hauss', Arial, Helvetica;
$fontFamilyMed: 'ALS Hauss', Arial, Helvetica;
$fontFamilyBook: 'ALS Hauss Book', Arial, Helvetica;
$fontFamilyIt: 'ALS Hauss';
$colorWigth: #ffffff;

@mixin rowDirection {
  display: flex;
  flex-direction: row;
}

@mixin columnDirection {
  display: flex;
  flex-direction: column;
}

@mixin textOrange {
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    color: #FF9B07;
}

@mixin aboutUsText {
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}
